body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.title {
  color: var(--principal);
  font-family: "Purple Purse", cursive;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 3rem;
}

.description {
  font-family: "Poppins", sans-serif;
  color: var(--preto);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.ganhadorVotacao {
  font-family: "Poppins", sans-serif;
  color: var(--principal);
  font-size: 1.2rem;
  text-decoration: none;
}
